.info {
  overflow-y: scroll;
  height: 20rem;
  max-height: inherit;
  margin: 0.1%;
  width: 100%;
  text-align: left;
  background: #595bfb;
  display: block;
  border-radius: 4px;
  border: 2px solid black;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider {
  -webkit-appearance: none;
  margin-top: 10%;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.2;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.info li {
  margin: 0.5% 0;
  list-style: none;
  padding-left: 5px;
  background: #333;
  border-radius: 3px;
}

#main ul {
  list-style: none;
}

.btn-danger {
  background: #ad4542;
}

.hideme {
  display: none;
  margin-bottom: 0.5%;
}

.gamePanel {
  background: #474a47;
  color: white;
  font-weight: 50%;
  border-radius: 5px;
  border: 2px solid black;
  margin-bottom: 1%;
  list-style: none;
}

.title {
  text-align: center;
  Padding: 0.2% 0;
  margin-top: 4px;
  margin-bottom: 1px;
}

.info .damage.hit {
  background: rgba(255, 42, 0, 0.57);
  border: 1px solid #77285c;
  color: white;
  font-weight: 200%;
}

.playerInfo.fixme {}

.info .revive.heal {
  background: #efcd6f;
  border: 1px solid #efcd6f;
  color: black;
  font-weight: 200%;
}

#attackBtn {
  color: black;
  font-weight: 300%;
  font-style: arial;
  text-transform: capitalize;
}

.drop (max-width: 800px) {
  display:none;
}

.dropdown:hover + .drop (max-width: 800px) {
  display:none;
}


#attackBtn2 {
  margin-top: 1%;
  color: black;
  font-weight: 300%;
  font-style: arial;
  text-transform: capitalize;
}

.tall {
  height: 100%;
}

body {
  background: #222;
}
